langchain
langchain-openai
python-dotenv
ipykernel
langchain_community
pypdf
bs4
langchain-text-splitters
langchain-chroma
sentence_transformers
langchain_huggingface
arxiv
pymupdf
langchain_ollama
streamlit
duckduckgo-search
mysql-connector-python
validators
youtube-transcript-api
unstructured
pytube
numexpr
langchain_huggingface
huggingface_hub